# Environments
venv/
env/
ENV/
.venv/

# Environment Variables & Secrets
.env
.env.local
.streamlit/secrets.toml

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS and Editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/